.backdrop {
  position: relative;
  width: 100%;
  min-height: 180px;
  margin-bottom: $spacing-unit*2;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: $screen-xs) {
    margin-bottom: $spacing-unit;
  }

  .container.with-text {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .backdrop-text {
    color: white;
    font-size: 10vw;
    @media (min-width: $screen-xs) {
      font-size: 5vw;
    }
    font-weight: bold;
    line-height: 1.1;
    // margin-left: 10vw;
    // padding-top: 8%;
    mix-blend-mode: overlay;

    .l2 {
      @media (min-width: $screen-xs) {
        display: block;
        font-size: 3.95vw;
      }

    }
  }

  &.b1 {
    // background-image: ;
    max-height: 320px;
    height: 25vw;
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%),
                url(../img/web-4.jpeg) no-repeat center center;
    background-blend-mode: multiply;
    background-size: cover;
  }

  &.b2 {
    background-image: url(../img/spiderweb-www.jpg);
    max-height: 320px;
    height: 25vw;
  }


  &.ig, &.stuff {
    background-color: $accent-color-3;
    margin-top: $spacing-unit;

    h2 {
      margin: 0;
    }
  }

  &.github {
    background-color: $accent-color-4;
    margin-top: $spacing-unit;
    h2 {
      margin: 0;
    }
  }

  &.stuff {
    margin-top: -$spacing-unit*2;
    color: #77777c;
    hr {
      border-color: #444;
    }
    @media (max-width: $screen-xs) {
      margin-top: -$spacing-unit;
    }
  }

  &.content {
    padding: $spacing-unit 0;
  }

  + footer {
    margin-top: -$spacing-unit*2;
    @media (max-width: $screen-xs) {
      margin-top: -$spacing-unit;
    }
  }
}

