.backdrop {
  position: relative;
  width: 100%;
  min-height: 180px;
  margin-bottom: $spacing-unit*2;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: $screen-xs) {
    margin-bottom: $spacing-unit;
  }

  &.b1 {
    background-image: url(../img/backdrop-spiderweb.jpg);
    max-height: 320px;
    height: 25vw;
  }

  &.ig {
    background-color: $accent-color-3;
    margin-top: $spacing-unit;

    h2 {
      margin: 0;
    }
  }

  &.github {
    background-color: $accent-color-4;
    margin-top: $spacing-unit;
    h2 {
      margin: 0;
    }
  }

  &.content {
    padding: $spacing-unit 0;
  }
}

