
.clearfix {
  @include clearfix();
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.normal-text {
  font-weight: normal;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.valign-middle {
  vertical-align: middle;
}
.margin-bottom {
  margin-bottom: $spacing-unit;
}
.extra-margin-bottom {
  margin-bottom: $spacing-unit*2;
}

.margin-top {
  margin-top: $spacing-unit;
}

.extra-margin-top {
  margin-top: $spacing-unit*2;
}

.gmap {
  width: 100% !important;
  border: none;
  height: 20vw;
  max-height: 240px;
}

a.profile {
  text-decoration: none;
  font-size: x-large;
}

#instagram {
  list-style: none;
  padding: 0;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;


  li {
    position: relative;
    overflow: hidden;
    color: #888;

    &:hover {
      z-index: 1;
      img {
        transform: scale(1.2);
      }

      &.no-scale {
        transform: scale(1);
      }

      .overlay {
        opacity: 1;
        &.top {
          top: 0;
        }
        &.bottom {
          bottom: 0;
        }
      }
      .ig-overlay {
        opacity: .6;
        transform: scale(1);
      }
    }


    .overlay {
      display: block;
      position: absolute;
      padding: $spacing-unit / 2;
      background: rgba(0, 0, 0, .6);
      color: #aaa;
      left: 0;
      right: 0;
      opacity: 0;
      font-size: small;
      line-height: 1.1;
      z-index: 1;
      width: 100%;
      transition: opacity .3s ease-in,
                  top .2s ease-in-out,
                  bottom .2s ease-in-out;
      &.top {
        top: -$spacing-unit*3;
      }
      &.bottom {
        bottom: -$spacing-unit*3;
      }
      .likes {
        margin-right: 6px;
      }
    }

    .ig-overlay {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: -40px;
      z-index: 1;
      top: 50%;
      text-align: center;
      color: black;
      opacity: 0;
      transform: scale(.3);
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;

      i, span { display: block; }
      i {
        font-size: 6rem;
      }
      span {  }
    }
  }
  a {
    display: block;
    text-decoration: none;
  }
  img {
    width: 100% !important;
    height: auto !important;
    transform: scale(1.0);
    transition: transform .3s ease-in-out;
  }

  .col-md-3, .col-sm-6 {
    margin-bottom: $spacing-unit;
    vertical-align: middle;
    a {
      width: 100%;
      border-radius: $border-radius;
      position: relative;
      display: block;
      overflow: hidden;
      // padding: $spacing-unit;
      background: transparent;
    }
  }
}

#github {
  li {
    position: relative;
    margin-bottom: $spacing-unit;
    cursor: default;
    transition: opacity .5s ease-in;
    opacity: 1;
    overflow: hidden;

    &.hidden {
      display: none;
      opacity: 0;
    }

    &.transition {
      display: inline-block;
      opacity: 0;
    }

    *:first-child {
      margin-top: 0;
      margin-bottom: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .wrapper {
        background: #f8f8fc;
      }
    }

    .wrapper {
      padding: $spacing-unit;
      background: #e1e1e6;
      position: relative;
      width: 100%;
      min-height: 134px;
      transition: background .3s ease-in-out;
      p {
        font-size: smaller;
        margin-top: $spacing-unit/2;
      }
      .meta {
        font-size: small;
        color: #666;
        padding: $spacing-unit;
        margin-left: -$spacing-unit/1.5;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        .item {
          display: inline-block;
          margin-left: $spacing-unit/1.5;
          text-decoration: none;
        }
      }

      @media (max-width: $screen-xs) {
        min-height: 1px;
        .meta {
          position: relative;
          padding: 0;
        }
      }
    }
  }
}

.more {
  font-weight: bold;
  text-align: center;
  min-width: 170px;
  margin: 0 auto;
  display: block;
  padding: $spacing-unit;
}