
$clrpurple: purple;
$clrcyan: #00b6b4;
$clrgreen: #628000;
$clrorange: #d67500;
$clrblue: #0087cc;

[data-portfolio] {
  .preview {
    h3 {
      transition: transform .5s ease-in-out;
    }
  }
  &.opening {
    .preview {
      transform: perspective(60rem) rotateY(145deg) scale(.7) !important;
    }
  }
  &.opened {
    &.purple {
      .preview {
        background: $clrpurple;
      }
    }
    &.cyan {
      .preview {
        background: $clrcyan;
      }
    }
    &.green {
      .preview {
        background: $clrgreen;
      }
    }
    &.orange {
      .preview {
        background: $clrorange;
      }
    }
    &.blue {
      .preview {
        background: $clrblue;
      }
    }
    .preview {
      transform: perspective(60rem) rotateY(180deg) scale(1) !important;
      opacity: 1 !important;
      &:hover {
        box-shadow: none;
      }
      h3 {
        color: rgba(255,255,255,.4);
        transform: rotateY(180deg);
      }
    }
  }
  &.closing {
    .preview {
      transform: perspective(60rem) rotateY(145deg) scale(.7) !important;
      opacity: .5;
    }
  }

  &.nai {
    background-image: url(../img/pw/nai-small.jpg);
  }
  &.my-pages {
    background-image: url(../img/pw/mp-small.jpg);
  }
  &.shawurl {
    background-image: url(../img/pw/shawurl-small.jpg);
  }
  &.pike {
    background-image: url(../img/pw/pike-small.jpg);
  }
}

.viewarea {
  background: #212121;
  margin-top: ($spacing-unit/2);
  margin-bottom: ($spacing-unit);
  padding: $spacing-unit*2;
  color: white;
  position: relative;
  transition: background-color .8s ease-in-out, opacity .5s ease-in-out;
  h2, h3, h4 {
    color: white;
    opacity: .5;
    small {
      font-weight: normal;
      &.byline {
        display: block;
        @include font-size($txt-lg);
        letter-spacing: 0;
      }
    }
  }

  &.opening {

  }

  .content {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    &.opening {
      opacity: 0;
    }
    &.opened {
      opacity: 1;
    }
    &.closing {
      opacity: 0;
    }
  }

  .loading {}

  hr {
    border-color: rgba(0,0,0,.2) !important;
  }

  a {
    color: rgba(0, 0, 0, .4);
  }

  &.blue {
    background: $clrblue;
  }
  &.orange {
    background: $clrorange;
  }
  &.cyan {
    background: $clrcyan;
  }
  &.green {
    background: $clrgreen;
  }
  &.purple {
    background: $clrpurple;
  }

  @include clearfix();
}

a {
  &.visit {
    display: inline-block;
    padding: $spacing-unit/2 $spacing-unit*2;
    vertical-align: middle;
    text-decoration: none;
    color: rgba(255,255,255,.5);
    background: rgba(0,0,0,.4);
    border-radius: $border-radius;
    margin-top: $spacing-unit;
    @include font-size($txt-lg);
    &:after {
      font-family: FontAwesome;
      content: '\f138';
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-left: $spacing-unit/2;
    }
  }
}

.img-display {
  margin: $spacing-unit 0;
  border-radius: $border-radius;
}

.screen {
  // margin-top: -($spacing-unit*2);
  // margin-right: -($spacing-unit*2);
  margin-top: $spacing-unit/2;
  margin-right: $spacing-unit;
  margin-left:  $spacing-unit*2;
  width: 40%;
  float: right;
  position: relative;
  transform: perspective(40rem) rotateY(-8deg);

  .underlay {
    position: absolute;
    z-index: 1;
    top: 4.6%;
    left: 3.2%;
    right: 3.2%;
  }

  .monitor {
    position: relative;
    z-index: 2;
  }

  img {

    width: 100%;
    height: auto;
  }
}