@mixin positioning($position, $t: false, $r: false, $b: false, $l: false) {
  @if ($position) {
    position: $position;
  }
  @if ($t) {
    top: $t;
  }
  @if ($r) {
    right: $r;
  }
  @if ($b) {
    bottom: $b;
  }
  @if ($l) {
    left: $l;
  }
}

@mixin vertical-align($position: relative, $offset: 40%) {
  position: $position;
  top: $offset;
  transform: translateY(-50%);
}

@mixin middle-align($position: relative) {
  @include vertical-align($position);
  margin-left: auto;
  margin-right: auto;
}