.bubble {
  max-width: 500;
  min-width: 60px;
  background: #212121;
  border-radius: $border-radius;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .7);

  &-inner {
    padding: $spacing-unit;
    padding-right: $spacing-unit*3;
  }
  &-hidden-close {
    .bubble-inner {
      padding-right: $spacing-unit;
    }
    .bubble-close {
      display: none;
    }
  }
  &-close {
    cursor: pointer;
    position: absolute;
    padding: $spacing-unit;
    display: block;
    top: 0;
    right: 0;
  }
  &-arrow {
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    background: #212121;
    left: 10%;
    top: -8px;
  }
  &-dir-center {
    .bubble-arrow {
      left: 49%;
    }
  }

  &-dir-right {
    .bubble-arrow {
      left: 90%;
    }
  }
}