
.notify {
  background: #F2EBBC;
  color: #7F7234;
  padding: $spacing-unit $spacing-unit*1.5;
  margin: $spacing-unit 0;
  border-radius: $border-radius;

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }

  &.icon {
    &:before {
      font-family: FontAwesome;
      content: '\f06a';
      float: left;
      margin-right: 6px;
    }
  }

  &.error {
    &.on-dark {
      background: #855A5C;
      color: #f0cec4;
    }
  }

  &.info {
    color: #3a87ad;
    background: #D9EDF7;
    &.icon {
      &:before {
        content: "\f05a";
      }
    }
  }
}