

@if ($options__use-grid) {
  .row {
    @include make-row();
  }
  .row-narrow {
    @include make-row(block, true);

    @include make-grid-columns(null, null, true);
  }
  ul.row,
  ol.row {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  @include make-grid-columns();

  @if ($options__grid__screen-xxs) {
    // Ultra small grid
    .col-xxs-6 {
      float: left;
      width: percentage((6 / $grid-column-count));
    }
  }

  @media (max-width: $screen-xs) {
    .row-narrow {
      *[class^='col-'] {
        width: 100%;
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @if ($options__grid__screen-xs) {
    // Extra small grid
    @include screen-xs-up {
      @include make-grid(xs);
    }
  }

  @if ($options__grid__screen-sm) {
    // Small grid
    @include screen-sm-up {
      @include make-grid(sm);
      .row-narrow {
        @include make-grid(sm, true);
      }
    }
  }

  @if ($options__grid__screen-md) {
    // Medium grid
    @include screen-md-up {
      @include make-grid(md);
      .row-narrow {
        @include make-grid(md, true);
      }
    }
  }

  // Large grid
  @if ($options__grid__screen-lg) {
    @include screen-lg-up {
      @include make-grid(lg);
      .row-narrow {
        @include make-grid(lg, true);
      }
    }
  }

  *[class^='col-'] {
    @media (max-width: $screen-xs) {
      &.xs-hide {
          display: none;
      }
    }
    @media (max-width: $screen-sm) {
      &.sm-hide {
          display: none;
      }
    }
    @media (max-width: $screen-md) {
      &.md-hide {
          display: none;
      }
    }
    @media (max-width: $screen-lg) {
      &.lg-hide {
          display: none;
      }
    }
  }
}