.text {
  &-right {
    text-align: right;
    @media (max-width: $screen-xs) {
      text-align: left;
    }
  }
  &-left {
    text-align: left;
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.padding {
  padding: $spacing-unit;
}