/*
  Author: Pontus Östlund <https://profiles.google.com/poppanator>

  Permission to copy, modify, and distribute this source for any legal
  purpose granted as long as my name is still attached to it. More
  specifically, the GPL, LGPL and MPL licenses apply to this software.
*/

::-moz-selection { background: #222233; color: #fff; text-shadow: none; }
::selection { background: #222233; color: #fff; text-shadow: none; }
.green ::-moz-selection { background: #223322; }
.green ::selection { background: #223322; }

html, body {
  height: 100%;
}

body {
  font: 24px/1.4 "Source sans pro", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #222233;
  padding: 24px 0;
  line-height: 1;
  margin-bottom: 0;
  border-bottom: 8px solid #4890BA;
}

.green header {
  background-color: #223322;
  border-bottom-color: #48BA8E;
}

header h1 {
  margin: 0;
  font-size: 48px;
  color: #ccc;
}

header a, .green header a {
  color: #ccc;
  text-decoration: none;
  display: inline-block;
}

header small {
  display: block;
  font-weight: normal;
  color: #666;
  font-size: 32px;
}

header span {
  vertical-align: text-bottom;
}

a { color: #4890BA; }
.green a { color: #48BA8E; }

h1, h2, h3 { margin-bottom: 0px; color: #222233; }
.green h1, .green h2, .green h3 { color: #223322; }

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }

img { border-radius: 5px; }

.preamble {
  height: 480px;
  width: 100%;
  background-image: url("../img/spiderweb.jpg");
  background-size: cover;
  background-position: 100% 70%;
  background-repeat: no-repeat;
}

.preamble + #content {
  margin-top: -250px;
}

.preamble + #content .section.white {
  background: transparent;
}

.preamble + #content .section.white .container {
  background: white;
  padding-top: 36px;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  padding: 0 36px;
  margin: 0 auto;
}

.container .container {
  padding: 0;
}

.row {
  margin-bottom: 36px;
}

.clear {
  display: block;
  clear: both;
}

header .text {
  float: left;
  margin-top: 3px;
}

.profilepic {
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  width: 106px;
  height: 106px;
  vertical-align: middle;
  float: left;
  margin-right: 20px;
}

.profilepic img {
  width: 100%;
  height: auto;
}


.section {
  padding: 36px 0;
}

.section.white {
  background: white;
}

.section.grey {
  background: #f2f2f2;
}